body {
  background-color: #f1f2f2;
}

@font-face {
  font-family: 'Al Qabas Bold';
  src: url('/Fonts/AlQabas-Bold.woff2') format('woff2'),
       url('/Fonts/AlQabas-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Al Qabas Light';
  src: url('/Fonts/AlQabas-Light.woff2') format('woff2'),
       url('/Fonts/AlQabas-Light.woff') format('woff');
  font-weight: lighter; /* You can adjust this if needed */
  font-style: normal;
}

@font-face {
  font-family: 'Al Qabas Regular';
  src: url('/Fonts/AlQabas-Regular.woff2') format('woff2'),
       url('/Fonts/AlQabas-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


/********* Header CSS *********/
.navbar.navbar-expand-lg {
  background-color: #f1f2f2;
}

@media (max-width: 991px) {
    .navbar-nav-center {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
  .navbar-nav-center .nav-item .nav-link:hover {
    color: #ED9415;
  }

  
/********* Slider CSS *********/

.carousel-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
}
.carousel-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
    max-width: 90%; /* Adjust the maximum width as needed */
    z-index: 1; /* Ensure the text is above the carousel images */
  }
  .btn-secondary {
    color: white;
    background-color: #ED9415;
    --bs-btn-hover-bg: #DA8000; 
  }
  .highlight{
    color: #ED9415;
  }

  @media (max-width: 768px) {
    .carousel-text h1 {
        font-size: 24px; /* Adjust the font size as needed */
    }

    .carousel-text h4 {
        font-size: 14px; /* Adjust the font size as needed */
    }
}



/********* About Us CSS *********/

.about-us-section {
    background-color: #E9EBEB;
    padding: 50px 0;
}


/********* Services CSS *********/

.card {
    background-color: #f1f2f2;
    position: relative;
    overflow:visible;
  }
  .centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.link-offset-3 {
    color:  #ED9415;;
}

.icon-img {
    position: absolute;
    top: -45px; /* Adjust this value to control how much it protrudes */
    left: 50%;
    transform: translateX(-50%);
    width: 80px; /* Fixed width for the icons */
    height: 80px; /* Fixed height for the icons */
    z-index: 1; /* Ensure the icon is displayed above other elements */
}


/********* Partners CSS *********/

.centered-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


/********* Footer CSS *********/

.footer {
  background-image: url('/images/Footer.webp');
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff; /* Text color for better contrast */
}

.img-width {
 width: 20px;
}

.bg-black {
  background-color: black;
}

/****** Contact Us CSS *******/

.contact-us-section {
  background-color: #E9EBEB;
}

.container-contact {
  background-color: #FFFFFF; /* Container background color */

}

.container-contact {
  max-width: 900px; /* Set your desired maximum width */
  margin: 0 auto; /* Center the container horizontally */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add a shadow */
  padding: 20px; /* Add some padding for better spacing */
}