body {
  background-color: #f1f2f2;
}

@font-face {
  font-family: "AlQabasRegular";
  src: url("~/static/fonts/AlQabasRegular.ttf") format("truetype");
}

.alqabas {
  font-family: "AlQabasRegular" !important;
}

.navbar.navbar-expand-lg {
  background-color: #f1f2f2;
}

@media (max-width: 991px) {
  .navbar-nav-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.navbar-nav-center .nav-item .nav-link:hover {
  color: #ed9415;
}

.logo-img {
  width: 140px;
}

.carousel-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
}

.carousel-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  text-align: center;
  max-width: 90%;
  z-index: 1;
}
.btn-secondary {
  color: white;
  background-color: #ed9415;
  border: 2px solid #da8000; 
  --bs-btn-hover-bg: #da8000;
}

.btn-secondary:hover {
  border-color: #da8000;
}
.highlight {
  color: #ed9415;
}

@media (max-width: 768px) {
  .carousel-text h1 {
    font-size: 24px;
  }

  .carousel-text h4 {
    font-size: 14px;
  }
}

.carousel-inner img {
  height: 500px;
  object-fit: cover;
}
@media (max-width: 767px) {
  .carousel-inner img {
    height: 250px;
  }
}

.card {
  background-color: #f1f2f2;
  position: relative;
  overflow: visible;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.link-offset-3 {
  color: #ed9415;
}

.partner-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.icon-img {
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
  z-index: 1;
}

.centered-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.footer {
  background-image: url("/images/Footer.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
}

.img-width {
  width: 20px;
}

.bg-black {
  background-color: black;
}

.contact-us-section {
  background-color: #e9ebeb;
}

.container-contact {
  background-color: #ffffff;
}

.container-contact {
  
  margin: 0 auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.btn-primary {
  color: white;
  background-color: #213141;
  --bs-btn-hover-bg: #364859;
  border: 2px solid #364859; 
  border-radius: 5px;
}

.btn-primary:hover {
  border-color: #364859;
}